<!-- this code doesn't work yet (philipp, 2021/01/28) -->


<!-- define an array of all existing species -->

<!--
<%# species = [] %>
<%# @organisms.each do |organism| %>
  <%# species << organism.species unless species.include?(organism.species) %>
<%# end %>
 -->


  <!-- show the species in a drop-down -->

<!--
<select name="filter_option" onchange="this.form.submit()">
  <option value="">Pick a Species</option>
  <%# species.each do |species| %>
    <option value="<%#= species %>"><%#= species %></option>
  <%# end %>
</select> -->
