.homepage-title{
  font-family: Poppins;
  font-size: 120px;
  font-weight: bolder;
  color: $blue;
}

.homepage-subtitle{
  font-family: Poppins;
  font-size: 27px;
  color: $blue;
}

.container-homepage{

  background-repeat: no-repeat;
  width: 1000px;
  margin: 16px auto;
  height: 900px;
}

.text-container{
  padding-top: 150px;
}
