<%= render 'shared/navbar' %>

<div class="container-homepage">
  <div class="text-container">
    <h2 class="homepage-title">Oh, hello <br>
    virus!</h2>
    <p class="homepage-subtitle">Discover the largest community of living organisms ready to be infected, just one click away</p>
    <%= link_to 'Browse Organisms', organisms_path, class: "btn btn-primary" %>
  </div>
</div>


