.card-container{

}

i.fa-heart {
  position: relative;
  top: -53px;
}

.btn-primary {
  border-radius: 100px;
  padding: 16px 50px;
  border: 4px solid white;
}

.card-left {
  border-right: 1px solid white;
}

.card-list{
  width: 800px;
  height: 200px;
  top: 214px;
  left: 139px;
  border-radius: 20px;
i {
  font-size: 25px;
}
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //background-size: cover;
  //background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  //align-items: center;
  h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: bolder;
    color: black;
  }
  h2 {
    font-family: Poppins;
    font-size: 18px;
    color: white;
  }
  h3 {
    font-family: Poppins;
    font-size: 15px;
    font-weight: bolder;
    color: white;
  }
}

.card-list img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}

.dashboard-card-height {
  height: 250px;
}

.card-show {
  width: 1200px;
  height: 1100px;
  top: 214px;
  left: 139px;
  border-radius: 10px;
  h1 {
    font-family: Poppins;
    font-size: 50px;
    font-weight: bolder;
    color: #2E48C8;
  }
  h2 {
    font-family: Poppins;
    font-size: 30px;
    color: white;
  }
  h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bolder;
    color: white;
  }
}

.human{
  background-color: #FF8577;
  border: solid 1px #BF3D3D;
    i {
    color: #BF3D3D;
  }
  h1{
    color: #FF004D;
  }
}

.plant {
  background-color: #699BF7;
  border: solid 4px #2E48C8;
    i {
    color: #2E48C8;
  }
  h1{
    color: #1F28CF;
  }
}

.pet {
  background-color: #FFC700;
  border: solid 4px #AE8800;
      i {
    color: #766118;
  }
  h1{
    color: #784931;
  }
}
