.card-list{
  width: 850px;
  height: 200px;
  top: 214px;
  left: 139px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //background-size: cover;
  //background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  //align-items: center;
  h1 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }
  h2 {
    font-family: Poppins;
    font-size: 18px;
    color: white;
  }
  h3 {
    font-family: Poppins;
    font-size: 15px;
    font-weight: bolder;
    color: white;
  }
}

.card-list img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}

.dashboard-card-height {
  height: 250px;
}

.card-show {
  width: 1200px;
  height: 1100px;
  top: 214px;
  left: 139px;
  border-radius: 10px;
  h1 {
    font-family: Poppins;
    font-size: 50px;
    font-weight: bolder;
    color: white;
  }
  h2 {
    font-family: Poppins;
    font-size: 30px;
    color: white;
  }
  h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bolder;
    color: white;
  }
}


.human{
  background-color: #FF8577;
  border: solid 4px #BF3D3D;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.plant {
  background-color: #699BF7;
  border: solid 4px #2E48C8;
}

.pet {
  background-color: #FFC700;
  border: solid 4px #AE8800;
}
