.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: solid 4px #4E6AF0;
  display: flex;


  h1 {
  font-family: Poppins;
  font-weight: bolder;
  color: #4E6AF0;
  }
  h4 {
    font-family: Poppins;
    color: #4E6AF0;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 18px;
    margin-top: 15px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin: 10px;
}
